@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title"><br /><br /></h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index/"></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        <div class="cont-details">
                            <h5 style="position:relative; left:75px">Hakkımızda</h5>
                            <p class="mt-3 mb-4">
                                Tatilcilerin yol arkadaşı, gezginlerin daimi başlangıç noktası Traversal bugün tur severlerin desteğiyle sektörün trendlerini belirleyen, başarıları ödüllerle onurlandırılan ve tur dendiğinde akla ilk gelen marka konumuna yükselmiştir.
                            </p>
                            <p>Müşteri memnuniyetinin ve kaliteli hizmet anlayışının her şeyden önce geldiğine inanan Traversal’ın tecrübeli çalışanları, bu ilke doğrultusunda ihtiyaçlarınızın tümüne hızlıca cevap verebilmek ve sizlere unutulmaz bir tur tecrübesi yaşatmak için gerekli tüm hazırlıkları yapmaya her gün, her saat devam etmektedir.Traversal 3500 kişiyi bulan dev kadrosuyla, her zaman en kaliteli turu, uygun fiyat avantajları ile misafirlerine sunmayı hedef edinmiştir.</p>
                        </div>
                        <br />
                        <div>
                            <img style=" width:500px;height:250px" src="https://thumbs.dreamstime.com/b/photo-collage-made-diverse-world-travel-destinations-wooden-surface-photos-127092750.jpg"</img>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <div class="input-grids">
                        <div class="form-group">
                            <h6 class="mt-4">Vizyonumuz</h6>
                            <p>
                                Traversal tüm Türkiye’yi tur'a göndermeyi ve %100 müşteri memnuniyetini sağlama amacıyla çalışmalarını sürdürmektedir.
                            </p>
                            <h6 class="mt-4">Misyonumuz</h6>
                            <p>
                                Traversal her daim değişime ve yeniliğe açık bir yapılanmaya sahip olup, müşteri odaklı çalışmaktadır. Traversal öncelikle müşteri için vardır. Teknolojinin tüm imkânlarını müşterilerine ve personeline kullandırıp, yaptığı işte fark yaratmayı hedeflemektedir. Her zaman müşterinin ve çalışanın tercih edeceği tur operatörü olmaya çalışmaktadır.
                            </p>
                            <h6 class="mt-4">Kalite Politikamız</h6>
                            <p>
                                Traversal uzman personeli ve profesyonel yapılanmasıyla yasal mevzuat şartları ve müşteri beklentilerini eksiksiz karşılayarak, teknoloji, insan kaynağı ve altyapı yatırımlarıyla sürekli iyileştirmeyi benimseyip uygulayarak, müşterisini her daim misafirleri olarak değerlendirip, %100 müşteri memnuniyetini hedef almaktadır. Bu sebeple 3 yıldır liderliğini sürdürdüğümüz sektörde güvenin adı olmaya devam etmekteyiz.
                            </p>
                            <div>
                                <h6 class="mt-4">Ödüllerimiz</h6>
                                <ul>
                                    <li>* Uzakrota Ödülleri – 2021 Yılı – Dünyanın Önde Gelen Seyahat Web Sitesi (TravelReservation Website)</li>
                                    <li>* Altın Marka Ödülleri – 2021 Yılı – Yılın Seyahat Acentası</li>
                                    <li>* Türkiye Exclusive Ödülleri – 2022 Yılı – Yılın Başarılı Tur Operatörü</li>
                                    <li>* Altın Marka Ödülleri – 2022 Yılı – Yılın Seyahat Acentası</li>
                                    <li>* Uzakrota Ödülleri – 2023 Yılı – Dünyanın Önde Gelen Seyahat Web Sitesi (TravelReservation Website)</li>
                                    <li>* QM Awards – 2023 Yılı – Türkiye’nin En İyi QM Turizm Savaşçısı Özel Ödülü</li>
                                    <li>* Türkiye Kalite Ödülleri – 2024 Yılı – Yılın Kaliteli Hizmet Veren Tur Operatörü</li>
                                    <li>* Şikayetvar A.C.E Awards – 2024 Yılı – Müşteri Memnuniyeti Diamond Ödülü</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>